<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home_Me</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel='stylesheet' href='/css/updatelisting.css'/>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <%- include('../partials/navbar.ejs')  %>
      <!-- Main -->
      <div id="main">
        <div class="inner">
              <!-- <h1>search</h1> -->
              <section>
                <div class="row">
                    <div id="listingHead" class="6u$ 12u$(medium)"><br>Edit Information for: <br>
                      <%= listing.formattedAddress %>
                    </div>
                </div>
                  <section>
                      <form method="post" action="#">
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="demo-name" id="price" value="" placeholder="Price: <%= listing.price %>" />
                                </div>
                                <div class="6u$ 12u$(xsmall)">
                                  <input type="text" name="demo-email" id="duration" value="" placeholder="Duration: <%= listing.duration %>" />
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="demo-name" id="bedrooms" value="" placeholder="Bedrooms: <%= listing.bedrooms %>" />
                                </div>
                                <div class="6u$ 12u$(xsmall)">
                                    <input type="email" name="demo-email" id="bathrooms" value="" placeholder="Bathrooms: <%= listing.bathrooms %>" />
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="demo-name" id="pets" value="" placeholder="Pets: <%= listing.pets %>" />
                                </div>
                                <div class="6u$ 12u$(xsmall)">
                                    <input type="email" name="demo-email" id="furnished" value="" placeholder="Furnished: <%= listing.furnished %>" />
                                </div>
                          </div>
                      </form>
                  </section>
                  <div class="row">
                      <div class="6u 12u$(medium)">
                        <input type="hidden" id="imageurl" name="imageurl" value="/assets/images/default.png">
                        <input type="file" name="file" id="file-input" class="inputfile" />
                        <label class="button icon fa-upload" for="file-input">Choose a file</label>
                        <br>
                        <img style='width:100px'id="preview" src="/assets/images/default.png">
                        <br>
                        <br>
                        <ul class="actions">
                          <li><a href="#" class="button special" id="submitListing">Edit</a></li>
                          <li><a href="#" class="button special" id="delete">delete</a>
                          </li>
                        </ul>
                      </div>
                  </div>
              </section>
        </div>
      </div>
          <!-- Footer -->
          <footer id="footer">
              <div class="inner">
                  <section>
                      <ul class="icons">
                          <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                          <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                          <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                          <li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                          <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
                      </ul>
                  </section>
                  <ul class="copyright">
                      <li>&copy; Untitled. All rights reserved</li>
                      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                  </ul>
              </div>
          </footer>
      </div>
    <script rel='javascript' src='/js/updatelisting.js'>
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>

    <script type="text/javascript">var listingId = '<%= listing._id %>';
    console.log('this listing is', listingId);</script>

    <script type="text/javascript">
    console.log('HELLO LISTING ID IS ', listingId);

    $('#delete').click(function(event) {
      $.ajax({
          url: "/api/listings",
          type: 'DELETE',
          data: {id: '<%= listing._id %>'}
      }).done(function(){
        window.location = "/listings/postedlistings"
      })
    });
    </script>
  </body>
</html>
